<table th:fragment="category" border="1">
    <tr>
        <td><a th:href="@{/category/{category}(category='경제')}">경제</a></td>
        <td><a th:href="@{/category/{category}(category='보건')}">보건</a></td>
        <td><a th:href="@{/category/{category}(category='교육')}">교육</a></td>
        <td><a th:href="@{/category/{category}(category='환경')}">환경</a></td>
        <td><a th:href="@{/category/{category}(category='노동')}">노동</a></td>
        <td><a th:href="@{/category/{category}(category='사회 복지')}">사회 복지</a></td>
        <td><a th:href="@{/category/{category}(category='법 진행 및 사법')}">법 진행 및 사법</a></td>
        <td><a th:href="@{/category/{category}(category='인권 및 평등')}">인권 및 평등</a></td>
    </tr>
    <tr>
        <td><a th:href="@{/category/{category}(category='국제 관계')}">국제 관계</a></td>
        <td><a th:href="@{/category/{category}(category='안보 및 국방')}">안보 및 국방</a></td>
        <td><a th:href="@{/category/{category}(category='부동산 및 토지 관리')}">부동산 및 토지 관리</a></td>
        <td><a th:href="@{/category/{category}(category='가족 및 개인')}">가족 및 개인</a></td>
        <td><a th:href="@{/category/{category}(category='정보 및 통신')}">정보 및 통신</a></td>
        <td><a th:href="@{/category/{category}(category='교통 및 물류')}">교통 및 물류</a></td>
        <td><a th:href="@{/category/{category}(category='문화 및 예술')}">문화 및 예술</a></td>
        <td><a th:href="@{/category/{category}(category='과학 및 기술')}">과학 및 기술</a></td>
    </tr>
</table>
