<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>법을 담다.</title>
</head>
<body>
<h1><a href="/">'법을 담다.'</a></h1>
<hr/>
<th:block th:replace="~{category :: category}"/>

<h2>법안 검색</h2>
<form action="/searchByBill" method="get">
    <strong><label for="law"> 입법명: </label></strong>
    <input type="text" id="law" name="law">
    <input type="submit" value="검색">
</form>

<h2>국회의원 검색</h2>
<form action="/searchByName" method="get">
    <strong><label for="name">국회의원 이름:</label></strong>
    <input type="text" id="name" name="name">
    <input type="submit" value="검색">
</form>
<br/>

<form action="/searchByPartyName" method="get">
    <strong><label for="partyName">국회의원 정당 이름:</label></strong>
    <input type="text" id="partyName" name="partyName">
    <input type="submit" value="검색">
</form>
<br/>

<form action="/searchByDistrict" method="get">
    <strong><label for="district">국회의원 선거구:</label></strong>
    <input type="text" id="district" name="district">
    <input type="submit" value="검색">
</form>

</body>
</html>
